.front-page {
    font-size: 20px;
}

.front-page__scrolling-images {
    width: 85vw;
    height: 75vh;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
}

.front-page__introduction {
    width: 60vw;
    margin: auto;
}

