.container {
  padding: 2rem 0 1.5rem 0; 
  text-align: center;
}

.logo {
  font-family: Felipa;
  font-size: 38px;
  color: #000; 
  display: inline;
}

.logo-link {
  text-decoration: none;
  display: inline;
}
