.navbar {
  padding: 1rem 0 1.5rem 4rem;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-family: Felipa;
  font-size: 38px;
  color: #000;
  display: inline;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 50%;
  font-size: 20px;
}

