.container {
  margin: 0 0 1.5rem 0;
}

.links-section {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.dropdown-container {
  position: relative;
}

.category-link {
  width: 100%;
}

 .category-dropdown {
  left:0;
  top: 100%;
  position: absolute;
  transform: scaleY(1);
  z-index: 20;
  width: 40vw;
  height: 10vh;
  min-height: 4.8rem;
  transform: translate(-30%);
} 

.categories-hidden {
  transform: scaleY(0);
}

.links-section a, .category-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: #6b6b6b;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.links-section a:hover, .category-link:hover {
  color: #000;  
}


