.container {
  margin: 0 0 1.5rem 0;
}

.links-section {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.link-container {
  position: relative;
}

 .gallery-category-selector {
  /* border: 2px solid red; */
} 

.links-section a {
  text-decoration: none;
  font-size: 20px;
  color: #6b6b6b;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.links-section a:hover {
  color: #000;  
}


