.image-container {
  margin: 0 calc(7vw/6);
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 31vw;
  row-gap: calc(7vw/6);
}

.image-container img {
  width: 31vw;
  height: 31vw;
  object-fit: cover;
}

.image-container img:hover {
  cursor: pointer;
}
