.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 0 1rem;
  font-size: 20px;
}

.introduction {
  width: 80%;
  margin: 0 0 2rem 0;
  padding: 0;
}

.introduction img {
  margin: 2rem;
  width: 80%;
  border-radius: 50%;
}

.links {
  list-style: none;
}
