.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  display: flex;
  border-radius: 360px;
  padding: 0;
}