.icon {
  width: 3rem;
  height: 3rem;
}

.button {
  top: 0;
  right: 0;
  transform: translate(55%, -55%);
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 360px;
  font-weight: bold;
}