@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./fonts/FrankRuhlLibre-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Frank Ruhl Libre", sans-serif;
  /* position: fixed; */
  /* border: 2px solid green; */
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-message {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
